<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="en-en" />
  <title>503</title>
  <link rel="stylesheet" href="/static/css/503.css" type="text/css" media="screen" />
  <link rel="shortcut icon" href="/static/images/favicon.ico" />
</head>
{% load i18n %}

  <div id="h_align" style="text-align: center">
    <div id="content">
      <table class="p404" cellspacing="0" cellpadding="0" style='margin: 0 auto'>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td width="50"></td>
        <td><h1>{% trans "Information" %}</h1></td>
        <td width="50"></td>
      </tr>
      <tr>
        <td></td>
        <td><p>{% trans "At the moment, made ​​the technical work on the site, please check back soon." %}</p></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="3">&nbsp;</td>
      </tr>
      </table>
    </div>
  </div>

</body></html>
