{% load static form_tags i18n %}

{% block content %}
<div class="modal-body">
    <form method="post" action="{% url 'create_customer_tasks' performer.id %}" class="js-create-task-performer-form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
            {{ form.title|css_class:'form-control'|err_class:'is-invalid'|placeholder:form.title.label }}
        </div>
        <div class="mb-3">
            <label for="{{ form.comment.id_for_label }}" class="form-label">Comment</label>
            {{ form.comment|css_class:'form-control'|err_class:'is-invalid'|placeholder:form.comment.label }}      
        </div>
        <div class="mb-3">
            {{ form.is_active }}
            <label for="{{ form.is_active.id_for_label }}" class="form-label">Active</label>
        </div>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button class="btn btn-primary js-create-task-performer-btn" type="button">Create task</button>
</div>
</form>
{% endblock content %}