<!-- Modal Static-->
<div class="modal fade" id="js-modal-static" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="js-modal-static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="js-modal-static-label">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="js-modal-static-body">
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>      
    </div>
  </div>
</div>

<!-- Modal Large-->
<div class="modal fade" id="js-modal-lg-static" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="js-modal-lg-static" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-lg-title" id="js-modal-lg-static-label">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="js-modal-lg-static-body">
        <div class="modal-lg-body">
          ...
        </div>
        <div class="modal-lg-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>      
    </div>
  </div>
</div>

<!-- Modal Small-->
<div class="modal fade" id="js-modal-sm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="js-modal-sm" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="js-modal-sm-body">
        <div class="modal-sm-body">
          ...
        </div>
        <div class="modal-sm-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>      
    </div>
  </div>
</div>